

.hero-container {
    
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-bottom: 10px;

    
}


.hero-container > img {
    object-fit: cover;
    width: 100%;
    height:100%;
    z-index: -1;
}
.hero-container > video {
    object-fit: cover;
    width: 100%;
    height:100%;
    z-index: -1;
}
.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -550px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

.hero-container > p {
    margin-top: 8px;
    text-align: center;
    color: #fff;
    font-size: 30px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(56, 56, 56, 0.438);
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -450px;
    }


}

@media screen and (max-width: 760px) {
    .hero-container > h1 {
        font-size: 50px;
        
    }
    .hero-container{
        overflow-x: hidden !important;
    }
    .hero-container > p{
        font-size: 21px;
    }
}